<div id="heading">
    <h1>Davonta Hubbard</h1>
    <h5>Full Stack Developer</h5>
</div>

<p>Experienced full stack developer adept in all stages of web application development in a mircroservice architecture.  Knowledgeable in user interface, testing,
    and debugging process.  Bringing forth expertise in design, installation, testing and  maintenance of web systems.  Equipped with a diverse and promising skill-set.  
Proficient in an assortment of technologies including: Java, C#, Angular 8, SpringBoot, ASP.Net, Cucumber, Cypress, Ionic, Microsoft SQL, docker, kubernetes. </p>
<hr>