<body>
    <div class="container">
        <section>
            <div>
                <div> <img src="../images/dh.JPG" alt="avatar" class="avatar"> </div>
            </div>
            <div>
                <div class="my-name">Davonta Hubbard</div>
                <div class="my-title">Full Stack Developer</div>
                <div class="links">
                    <div class="link-item">
                        <!--svg-->
                        <a href="http://google.ca">fullstackportfolio.com</a>
                    </div>
                    <div class="link-item">
                        <!--svg-->
                        <a href="mailto:email@email.com">email@email.com</a>
                    </div>
                    <div class="link-item">
                        <!--svg-->
                        <a href="tel:972-374-6718">972-374-6718</a>
                    </div>
                    <div class="link-item">

                    </div>
                </div>
            </div>
        </section>
    </div>
</body>