<nav class="navbar navbar-expand-lg navbar navbar-dark bg-primary">
  <a class="navbar-brand" href="#">Portfolio</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/home" routerLinkActive="">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/resume" routerLinkActive="">Resume</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Scheduler App</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Application 2</a>
      </li>
    </ul>
    <span class="navbar-text">
      <button class="btn btn-success">Login</button>
    </span>
  </div>
</nav>
<h1>Welcome to the homepage</h1><br>

<h3>About the Portfolio</h3>

<p>This portfolio has a collection of web applications that were built with various technologies.
  The applications were written in Java with the Springboot Framework.  Each application has a microservice
  architecture and is cloud native.  If you have any questions about any of the applications feel free to contact me.

</p>
